baseURL = "http://fc-ukraine-muenchen.de"

# Change the default theme to be use when building the site with Hugo
theme = "LoveIt"

# website title
title = "FC Ukraine München"

# website description
description = "FC Ukraine München official website"

# language code ["en", "zh-CN", "fr", "pl", ...]
languageCode = "uk"
# language name ["English", "简体中文", "Français", "Polski", ...]
languageName = "Ukrainian"

defaultContentLanguage = "uk"

publishDir = "docs"

# Menu config
[menu]
  [[menu.main]]
    weight = 1
    identifier = "posts"
    # you can add extra information before the name (HTML format is supported), such as icons
    pre = ""
    # you can add extra information after the name (HTML format is supported), such as icons
    post = ""
    name = "Новини"
    url = "/posts/"
    # title will be shown when you hover on this menu link
    title = ""
  [[menu.main]]
    weight = 2
    identifier = "schedule"
    pre = ""
    post = ""
    name = "Розклад"
    url = "/schedule/"
    title = ""
  [[menu.main]]
    weight = 3
    identifier = "sponsors"
    pre = ""
    post = ""
    name = "Спонсори"
    url = "/sponsors/"
    title = ""
  [[menu.main]]
    weight = 4
    identifier = "contacts"
    pre = ""
    post = ""
    name = "Контакти"
    url = "/contacts/"
    title = ""

# Markup related configuration in Hugo
[markup]
  # Syntax Highlighting (https://gohugo.io/content-management/syntax-highlighting)
  [markup.highlight]
    # false is a necessary configuration (https://github.com/dillonzq/LoveIt/issues/158)
    noClasses = false

  [markup.goldmark.renderer]
    # whether to use HTML tags directly in the document
    unsafe = true

# Statics files like images and icons.
[[module.mounts]]
source = 'static'
target = 'static'

[params]
  # website title for Open Graph and Twitter Cards
  title = "FC Ukraine München"
  # website description for RSS, SEO, Open Graph and Twitter Cards
  description = "FC Ukraine München official website"
  # website images for Open Graph and Twitter Cards
  images = []

  # Author config
  [params.author]
    name = "FC Ukraine München"

  # Header config
  [params.header]
    # Header title config
    [params.header.title]
      # URL of the LOGO
      logo = "/images/logo-with-white-background-320px.png"
      # title name
      name = "FC Ukraine München"
      # you can add extra information before the name (HTML format is supported), such as icons
      pre = ""
      # you can add extra information after the name (HTML format is supported), such as icons
      post = ""

  # Footer config
  [params.footer]
    enable = true
    # Custom content (HTML format is supported)
    #
    # This HTML is copied from generated home page when the following hugo.toml
    # config was used:
    #
    #   Social config in home page
    #   [params.social]
    #     Instagram = "fcukrainemuenchen"
    #     Facebook = "FCUkrajinaMuenchen"
    #     Youtubechannel = "UC-RXOiDAsi6MAQFdOSGM6sg"
    #     Email = "fc_ukrajina_muenchen@gmx.de"
    #     Phone = "+49 176 64703487"
    #
    # Also `fa-2x` was added to the icon class and
    # `style="margin-right: 0.6em;"` to the links tag.
    custom = """
      <div class="links">
          <a href="https://www.instagram.com/fcukrainemuenchen" title="Instagram" target="_blank" rel="noopener noreffer me" style="margin-right: 0.6em;">
            <i class="fab fa-instagram fa-fw fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://facebook.com/FCUkrajinaMuenchen" title="facebook" target="_blank" rel="noopener noreffer me" style="margin-right: 0.6em;">
            <i class="fab fa-facebook fa-fw fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC-RXOiDAsi6MAQFdOSGM6sg" title="YouTube" target="_blank" rel="noopener noreffer me" style="margin-right: 0.6em;">
            <i class="fab fa-youtube fa-fw fa-2x" aria-hidden="true"></i>
          </a>
          <a href="tel:+49%20176%2064703487" title="Phone" rel="me" style="margin-right: 0.6em;">
            <i class="fas fa-phone fa-fw fa-2x" aria-hidden="true"></i>
          </a>
          <a href="mailto:fc_ukrajina_muenchen@gmx.de" title="Email" rel="me">
            <i class="far fa-envelope fa-fw fa-2x" aria-hidden="true"></i>
          </a>
      </div>
      <br/>
    """
    # whether to show Hugo and theme info
    hugo = false
    # whether to show copyright info
    copyright = true
    # whether to show the author
    author = true
    # site creation time
    since = 2025

  # Home page config
  [params.home]
    # Home page profile
    [params.home.profile]
      enable = false
      # title shown in home page (HTML format is supported)
      title = ""
      # subtitle shown in home page (HTML format is supported)
      subtitle = ""
      # whether to show social links
      social = false

  # Social config in home page
  #
  # This is currently disabled by `params.home.profile.social = false`,
  # but the produced HTML code is manually copied to the footer in
  #`params.footer.custom`.
  [params.social]
    Instagram = "fcukrainemuenchen"
    Facebook = "FCUkrajinaMuenchen"
    Youtubechannel = "UC-RXOiDAsi6MAQFdOSGM6sg"
    Email = "fc_ukrajina_muenchen@gmx.de"
    Phone = "+49 176 64703487"

  # Social share links in post page
  [params.page.share]
      enable = true
      Facebook = true
      Whatsapp = true
      # Mark the following explicitly as false because the default value is
      # true.
      Twitter = false
      HackerNews = false
      Line = false
      Weibo = false

  # App icon config
  [params.app]
    # optional site title override for the app when added to an iOS home screen or Android launcher
    title = "FCUM"

# Multilingual
[languages]
  [languages.uk]
    weight = 1
    languageCode = "uk"
    languageName = "Українська"

  [languages.de]
    weight = 2
    languageCode = "de"
    languageName = "Deutsch"
    [languages.de.menu]
      [[languages.de.menu.main]]
        weight = 3
        identifier = "sponsors"
        pre = ""
        post = ""
        name = "Sponsoren"
        url = "/sponsors/"
        title = ""
      [[languages.de.menu.main]]
        weight = 4
        identifier = "contacts"
        pre = ""
        post = ""
        name = "Kontakt"
        url = "/contacts/"
        title = ""
